<div>
  <div>Products in queue: {{products_in_queue}}</div>
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let head of table_headers">
          {{head.toString().toUpperCase()}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" data-bs-toggle="modal" data-bs-target="#tableOptions" (click)="set_current_order(order)">
        <td *ngFor="let col of table_headers">{{col === "productionTime" ? (order[col] | date:'HH:mm dd/MM/yyyy') : order[col]}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" id="tableOptions" tabindex="-1" aria-labelledby="tableOptions" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Order: {{this.current_order._id}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
        <tr *ngFor="let p of current_order.products">
          <td>{{p.name}}</td>
          <td>{{p.status}}</td>
          <ng-container *ngIf="user_role() == 'Cook' || user_role() == 'Bartender'">
          <td><button class="btn btn-warning" *ngIf="p.status == 'awaiting'" (click)="accept_product(p.product_id)">Accept</button></td>
          <td><button class="btn btn-warning" *ngIf="p.status == 'processing'" (click)="serve_product(p.product_id)">Complete</button></td>
          </ng-container>
        </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

